#main{
    display: flex;
    justify-content: space-around;
    margin: 100px;
}
.first{
    background-color: aqua;
    color: blue;
    text-align: center;
    border: 3px;
    width: 300px;
    height: 350px;
}
.second{
    background-color: rgb(37, 56, 56);
    color: rgb(8, 8, 17);
    text-align: center;
    border: 3px;
    width: 300px;
    height: 350px;
}
.third{
    background-color: rgb(39, 192, 1);
    color: rgb(0, 0, 0);
    text-align: center;
    border: 3px;
    width: 300px;
    height: 350px;
}